<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Egory app</title>

    <link rel="stylesheet" th:href="@{/panel.css}"/>


    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" th:src="@{/write-cheers.js}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Guide panel</h1>
        <br><br>
        <a href="#" class="btn btn-default btn-lg" role="button" style="margin-bottom: 20px">Add Route</a><br>
        <a href="#" class="btn btn-default btn-lg" role="button" style="margin-bottom: 20px">Update Route</a><br>
        <a href="/demo/new-point" class="btn btn-default btn-lg" role="button" style="margin-bottom: 20px">Add Point</a><br>
        <a href="#" class="btn btn-default btn-lg" role="button">Delete Point</a><br>
        <a href="/" class="btn btn-default btn-lg" role="button" style="margin-left: 800px">Go back</a>
        <div th:fragment="statement" class="statement"  th:if="${statement}" th:classappend="${statement.getStyleClass()}" xmlns:th="http://www.w3.org/1999/xhtml">
            <script>writeCheers("confirmation")</script>
        </div>
    </div>
</div>

</body>
</html>