<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Egory app</title>
</head>
<body>
<h1>Routes Page</h1>
<form th:action="@{/demo/processGroup}" method="post">
<select id="dropOperator", name="groupChosen">
    <option value="0">Select Group</option>
    <option th:each="group : ${groups}" th:value="${group.nazwa}" th:text="${group.nazwa}"></option>
</select>
    <input type="submit" value="Submit"/>
</form>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> pointsForRoute </th>
        <th> RouteLength </th>
        <th> heightDiffrence </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${routes!=null}" th:each="route : ${routes}">
        <td><span th:text="${route?.name}"> name </span></td>
        <td><span th:text="${route?.pointsForRoute}"> pointsForRoute </span></td>
        <td><span th:text="${route?.routeLength}"> routeLength </span></td>
        <td><span th:text="${route?.heightDiffrence}"> heightDiffrence </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>